<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="p-3 bg-dark text-white">
        <div class="d-flex align-items-center mb-3">
          <h1>Example heading</h1>
          <span class="badge bg-secondary ms-3 fs-6">New</span>
        </div>
      
        <div class="d-flex align-items-center mb-3">
          <h2>Example heading</h2>
          <span class="badge bg-secondary ms-3 fs-6">New</span>
        </div>
      
        <div class="d-flex align-items-center mb-3">
          <h3>Example heading</h3>
          <span class="badge bg-secondary ms-3 fs-6">New</span>
        </div>
      
        <div class="d-flex align-items-center mb-3">
          <h4>Example heading</h4>
          <span class="badge bg-secondary ms-3 fs-6">New</span>
        </div>
      
        <div class="d-flex align-items-center mb-3">
          <h5>Example heading</h5>
          <span class="badge bg-secondary ms-3 fs-6">New</span>
        </div>
      
        <div class="d-flex align-items-center mb-3">
          <h6>Example heading</h6>
          <span class="badge bg-secondary ms-3 fs-6">New</span>
        </div>
      </div>
    Inbox
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
      99+
      <span class="visually-hidden">unread messages</span>
    </span>
  </button>
  <button type="button" class="btn btn-primary position-relative">
    Profile
    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
      <span class="visually-hidden">New alerts</span>
    </span>
  </button>
  <span class="badge text-bg-primary">Primary</span>
<span class="badge text-bg-secondary">Secondary</span>
<span class="badge text-bg-success">Success</span>
<span class="badge text-bg-danger">Danger</span>
<span class="badge text-bg-warning">Warning</span>
<span class="badge text-bg-info">Info</span>
<span class="badge text-bg-light">Light</span>
<span class="badge text-bg-dark">Dark</span>
<button type="button" class="btn btn-primary btn-lg custom-button-size">
    <div class="d-flex align-items-center justify-content-between">
      <span class="me-4">Notifications</span> 
      
      <span class="badge rounded-pill bg-secondary fs-6 p-2">4</span>
    </div>
  </button>
</body>
</html>